pihole/*
!pihole/.keep

downloads/*
!downloads/.keep

avorion/*
bitwarden/*
cloudflare-ddns/*
discord-musicbot/*
grafana/*
jmusicbot/config.txt
pihole/*
prometheus/*

satisfactory/*
!satisfactory/Dockerfile

traefik/*
valheim/*
